@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif, Arial, Helvetica;
    box-sizing: border-box;
    }
    
html{
    scroll-behavior: smooth;
} /*to make the website scroll smoothly when someone clicks*/

body{
    background: #000000;
    color: #ffffff;

}
/* Header Styling */
#header {
    width: 100%;
    height: 100vh; /* Full viewport height */
    background-image: url(images/noLOOK.JPG);
    background-size: cover; /* Cover entire background */
    background-position: center;
    display: flex; /* Flexbox for centering content */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    flex-direction: column; /* Stack content vertically */
}

/* Container for Header Content */
.container {
    padding: 10px 10%; /* Padding for content */
    text-align: left; /* Center text */
}

/* Navigation Bar Styling */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 0px;
    flex-wrap: wrap; /* Wrap content on smaller screens */
}

/* Logo Styling */
.logo {
    width: 50px;
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;
    border-radius: 30px;
    margin-top: 0px;
    
}
/* Hide hamburger menu on large screens */
nav .fa-solid {
    display: none;
}

/* Navigation Links Styling */
nav ul {
    display: flex;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    align-items: center;
}


/* Navigation Links Text Styling */
nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

/* Underline Animation for Navigation Links */
nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #15e8dd;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

/* Underline Animation on Hover */
nav ul li a:hover::after {
    width: 100%;
}

/* Header Text Styling */
.header-text {
    margin-top: 15%;
    font-size: 2rem; /* Use rem for better scalability */
    padding: 0 5%; /* Padding for better spacing on smaller screens */
    text-align: center; /* Center text */
}

.header-text h1 {
    font-size: 2.5rem; /* Responsive font size */
    margin-top: 5%;
    font-weight: 700;
    color: #1ccfa5;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header-text p {
    font-size: 1.5rem; /* Responsive font size */
    margin-top: 1rem; /* Adjusted margin */
    text-align: left; /* Center text */
}

.header-text p span {
    color: #1ccfa5;
}
/*.......CSS for small screens responsiveness...............*/
nav .fa-solid{
    display: none;
}
/* Media Queries for responsiveness */
@media (max-width: 1024px) {
    /* Header Text Adjustments for Smaller Screens */
    .header-text h1 {
        font-size: 2rem;
    }

    .header-text p {
        font-size: 1.2rem;
    }
}

/* Mobile devices */
@media (max-width: 767.98px) {

    nav .fa-solid{
        display:block; /*to make it visible*/
        font-size: 25px;
    }
    nav ul{
        background: #1ec8ac;
        position: fixed;
        top:0;
        right: -200px;
        width: 200px;
        height:fit-content;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
        display: flex;
        flex-direction: column; /* Ensures the menu is vertical */
        align-items:left; /* Aligns the menu items */
        
    }
    nav ul li{
        display: block;
        margin: 25px 0; /* Add spacing vertically */
        align-items: center;
    }
    nav ul .fa-solid{
      position: absolute;
      top:25px;
      left: 35px; 
      cursor: pointer; 
    }


    #header {
        height: auto;
        padding: 020px 0;
    }

    .header-text{
        margin-top: 10%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 1.8rem;
    }

    .header-text p {
        font-size: 1rem;
    }
}

/* Very small screens */
@media (max-width: 480px) {
    .header-text h1 {
        font-size: 1.5rem;
    }

    .header-text p {
        font-size: 0.9rem;
    }

    nav ul li {
        margin: 5px 10px;
    }
}
/*end of Header div*/

/*....about............*/
#about{
    padding: 80px 0px;
    color:#ababab;
}
.row{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    }
.about-col-1{
    flex-basis: 35%;

}
.about-col-1 img{
        width:100%;
        height: auto;  /* Ensure image maintains aspect ratio */
        border-radius:15px;
   }
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight:600;
    color: #ffffff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 20px;
    color: #1ccfa5;
    font-weight: 700;
    background-color: black;
    font-family:'Times New Roman', Times, serif, monospace;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor:pointer;
    position: relative;
    background-color: rgb(61, 53, 53);

}
.tab-links::after{
    content:'';
    width: 0;
    height:3px;
    background: #11d8d8;
    position: absolute;
    left:0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width:50%;
}
.tab-contents ul li{
list-style: none;
margin:10px 0;
}
.tab-contents ul li span{
    color: #1ccfa5;
    font-size: 14px;
    font-weight: 700;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* ....... Styling the Services section starts below.........*/
#services{
    padding: 10px 0; /*30pixels top and bottom, then left and right is 0*/
}
.services-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) ;
    grid-gap:40px;
    margin-top: 50px;
}

/*Styling the services list*/
.services-list div{
    background: #262626;
    padding:40px;
    font-size:13px;
    font-weight: 300;
    border-radius: 15px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 10px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: linear-gradient(rgba(234, 147, 147, 0.6), #1ccfa5); 
  transform: translateY(-10px);
}

/* styling the div id 'My_Projects' which has my work samples;;;the styling starts below*/
#My_Projects{
    padding: 50px 0;  /* 50px from top&bottom and 0 left&right*/
}
/*styling the work-list div class*/
.work-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 2fr)) ;
    grid-gap:20px;
    margin-top: 20px;
}
/*styling the work div class*/
.work{
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    /*Added*/
    
    width: 300px; /* Adjust width as needed */
    margin: 20px auto;    
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
/*styling images in the work div class*/
.work img{
    width:100%;
    height: 180px;
    border-radius: 0px;
    display: block;
    transition: transform 0.5s;

}
/* Layer - Adjusting to appear below the image */
.layer {
    width: 100%;
    height: 100%;
    background: #1ccfa5; /* Adjust color as needed */
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    position: relative; /* Positioned relative to the container */
    border-radius: 0 0 15px 15px; /* Rounded corners at the bottom */
}

.layer h3{
    font-weight: 700;
    margin-bottom: 5px;
    color:#000;
    font-family:'Arial Narrow Bold', sans-serif;
}
.layer a{
    margin-top: 20px;
    color: blue;
    font-size: 18px;
    line-height: 60px;
    text-decoration: none;
    background: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 20%;
    text-align: center;
}
.work:hover img{
transform: scale(1.1);
}
.work:hover .layer{
    height:100%;
}


/* Below I'm Styling the See More button which i took from cssbuttons.app website*/
.bn632-hover {
  width: fit-content;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 50px;
  display: block;
  color: #ffffff;
  cursor: pointer;
  margin: 10px auto;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn23 {
  background-image: linear-gradient(
    to right,
    #009245,
    #21fccd,
    #00a8c5,
    #e06421
  );
  box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}

/* End of Styling the See More button which i took from cssbuttons.app website*/

/*Styling Testimonials Section*/
/* section Styles */
#testimonials-section{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    background: #1ccfa5;   /*initial color was this: linear-gradient(to right, hsl(186, 98%, 37%), hsl(170, 100%, 40%)); 
  hsl= hue saturation lightness */
    padding: 0%;
}


/*section-header*/
.section-header{
    text-align:center;
    margin-bottom: 50px;
}
.section-header .title{
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
    color:hsl(0, 0%, 100%);
    line-height: 1.2;
}

/*Testimonials part styling*/
.testimonials{
    padding: 100px 0;
    position: relative; /* Ensure the container is positioned */
}
.testimonials-item {
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 30px; /* Added space to avoid overlapping */
    height: 300px !important; /* Fixed height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 70%;
    overflow: hidden; /* Hide overflow content */
}
.testimonials-item .info{
    display: flex;
    align-items: center;
}

.testimonials-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
    object-fit: cover; /* Ensures the image covers the entire area without distortion */
}


.testimonials-item .name{
font-size: 24px;
text-transform: capitalize;
font-weight:600;
color: hsl(0, 0%, 0%);
line-height: 1.2;
}

.testimonials-item .job{
    text-transform: capitalize;
    color: hsl(0, 0%, 40%);    
}

.testimonials-item .clientComment {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 15px;
}

.testimonials-item p {
    margin-top: 20px;
    color: hsl(0, 0%, 20%);
    flex-grow: 1;
    overflow-y: auto; /* Add scrollbar if content overflows */
}

.testimonials-item .rating{
    margin-top: 15px;
    font-size: 14px;
    color: hsl(36, 88%, 66%); /*hsl= hue saturation lightness */
}

/* Pagination Styling */
.testimonials-item .swiper-pagination{
    position: absolute;
    bottom: 10px; /* Adjust the space as needed */
    left: 50%;
    transform: translateX(-50%);
    
}

.testimonials .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 50%; /* Make the bullets round */
    opacity: 0.5; /* Make inactive bullets slightly transparent */
    transition: opacity 0.3s ease;
}

.testimonials .swiper-pagination-bullet-active {
    opacity: 1; /* Full opacity for active bullet */
    background-color: hsl(0, 0%, 100%); /* Ensure the active bullet is visible */
}

/* Responsive Media queries Adjustments */
@media (max-width: 767px) {
    .testimonials-item {
        padding: 20px;
    }

    .testimonials-item .name {
        font-size: 20px;
    }

    .testimonials-item .job {
        font-size: 14px;
    }

    .testimonials-item p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .section-header .title {
        font-size: 28px;
    }

    .testimonials-item {
        padding: 15px;
    }

    .testimonials-item .name {
        font-size: 18px;
    }

    .testimonials-item .job {
        font-size: 12px;
    }

    .testimonials-item p {
        font-size: 12px;
    }
}
/*Testimonials styling ends here*/


/* Now styling my contact-me part below*/
.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;

}
.contact-right p{
    background: #10d9c8;
    font-weight: 600;
    color: #000;
}

.connectWithMe{
    background: #10d9c8;
    font-weight: 600;
    color: #000;
}
/*styling the icons*/
.contact-left p i{
    color:#00fff7;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
    margin-bottom: 20px;
}
.social-icons a{ 
    margin-right: 15px;
    font-size: 30px;
    color: #65d0e1;
    display: inline-block;
    text-decoration: none;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color:#1212f4;
    transform: translateY(-5px);

}
/*styling the download cv button, still using the previous effects and stylings of See More Samples part*/
/*button from cssbuttons.app*/
.bn5 {
    margin-top: 20px;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(26, 24, 24);
  background: #10d9c8;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.bn5:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.bn5 i {
    margin-right: 10px;
    font-size: 30;
    font-style:initial;
    color: rgba(27, 44, 27, 0.966);
    
}
.bn5 a{
text-decoration:double;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bn5:active {
  color: #000;
}

.bn5:active:after {
  background: transparent;
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #191919;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/*End of download button from cssbuttons.app*/

/*styling the form starts below*/
.contact- form{
width:100%;

}
form input, form textarea{
width: 100%;
border: 0;
outline: none;
background: #262626;
padding: 15px;
margin: 15px 0;
color: #ffffff;
font-size: 18px;
border-radius: 15px;

}
form .submitbtn{
   padding: 14px 40px; 
   font-size: 18px;
   margin-top: 20px;
   cursor: pointer;
   border-radius: 20px;
   background-color: #20fbd6;
   max-width: fit-content;
}


/*styling the copyright section starts below*/
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #1ccfa5;
    font-weight: 300;
    margin-top: 20px;
}



@media only screen and (max-width:600px) {
    
    .sub-title{
        font-size: 25px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 20px;
    }
    .about-col-2{
        font-size: 13px;
    }
    .tab-links{
        font-size: 13px;
        margin-right:15px;
    }
        /* Ensuring no horizontal scroll */
        .row {
            overflow-x:inherit;
        }

    .layer{
        font-size: 10px;
    }
    
    .contact-left, .contact-right{
        flex-basis:100%;
    }
    .contact-right p{
        background: #10d9c8;
        font-weight: 600;
        color: #000;
        margin-top: 25px;
    }
    .bn5{
        font-size: small;
    }
    .copyright{
        font-size: 14px;
    }
}
#msg{
    color:green;
    margin-top: 5px;
    display: block;
}